.form-contain{
    justify-content: center;
   border-radius: 16px;
    /* width:350px; */
    max-width: 80%;
    padding:40px 70px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 450px;
}
.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100vh;
}
.submit{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: tomato;
    /* font-family: Outfit,sans-serif; */
    color: white;
    font-weight: 500;
}
.heading{
    text-align: center;
    margin-bottom: 30px;
    font-size: 30px;
    padding: 20px;
    color: tomato;
}
.para{
    padding: 10px;
    text-align: center;
    margin-top: 10px;
}
.link{
    text-decoration: none;
    color: tomato;
}